<table>
<tr><th>Total users invited</th><td>{{ totalusers }}</td></tr>
<tr><th>Total commitments</th><td>{{ totalcommitments }}</td></tr>
<tr><th>Total updates</th><td>{{ totalnotes }}</td></tr>
<tr><th>Updates Today</th><td>{{ todaynotes.count }}</td></tr>
<tr><th>Users Making Updates Today</th><td>{{ todayusers.count }}</td></tr>
<tr><th>Updates Past 7 Days</th><td>{{ past7daysnotes.count }}</td></tr>
<tr><th>Users Making Updates Past 7 Days</th><td>{{ past7daysusers.count }}</td></tr>
</table>
